body {
	background: #38B6FF;
}

.name_site {
	color: white;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 65px;
}

.pod_name {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

.gsit {
	background: #2C8FC8;
	padding: 10px;
	border-radius: 10px;
}

.v_yea {
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	margin-top: 30px;
}

#img_box {
	width: 100px;
	margin: auto;
	border-radius: 10px;
	transition: 0.2s;
}

#img_box:hover {
	opacity: 90%;
	border-radius: 20px;
}

.box_block {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
}

#img_box2 {
	width: 100px;
	margin: auto;
	background: white;
	padding: 10px;
	border-radius: 10px;
	transition: 0.2s;
}

#img_box2:hover {
	opacity: 90%;
	border-radius: 20px;
}

.box_block2 {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
}

.desp {
	color: white;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 25px;
}

#otp {
	color: white;
	background: #0DC143;
	text-decoration: none;
	padding: 10px;
	font-size: 25px;
	border-radius: 50px;
	font-family: 'Russo One', sans-serif;
	box-shadow: 0 0 5px black;

}

.gaqq {
	text-align: center;
	margin-top: 15px;
}

@media screen and (max-width: 480px) {
	.box_block {
		width: 400px;
	}

	.box_block2 {
		width: 400px;
	}
}